.item-card {
    padding: 32px;
}

.item-card img {
    padding: 1rem;
}

.arrows {
    padding: 2rem;
}

.shop {
    margin: 8rem 0rem;
}

.shop-in-shop {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.category-title {
    padding-left: 2rem;
}

